/*albumStyle.css*/
body {
    background-color:#B1CAD2
}
ul {font-style: italic;
}
/* .bg-div  */

#albumimg {
    margin: auto;
    background-image:url(CSN_album-full.jpg);
    /* background-repeat: no-repeat; */
    height: 350px;
    width: 350px;
}